h1 {
  color: blue;
}
/* div {
  background-color: blue;
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid black;
  padding: 50px;
  box-sizing: border-box;
} */
.one {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color:brown;
}

.two {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:red;
  left: 50px;
  top: 50px;
}
